<IfModule mod_rewrite.c>
	RewriteEngine On RewriteBase /Toko_Batik_Borobudour/ RewriteCond
	%{REQUEST_FILENAME} !-f RewriteCond %{REQUEST_FILENAME} !-d RewriteRule ^(.*)$
	index.php/$1 [L]
</IfModule>
